[submodule "bno055_usb_stick"]
	path = bno055_usb_stick
	url = https://github.com/RoverRobotics/bno055_usb_stick
[submodule "bno055_usb_stick_msgs"]
	path = bno055_usb_stick_msgs
	url = https://github.com/RoverRobotics/bno055_usb_stick_msgs
